<h3>

  Reactive Form
</h3>
<form [formGroup]="rHobbyFrom" (ngSubmit)="addHobby(rHobbyFrom.value)">
First Name:<input type="text"  formControlName="fname">
{{fname}}
<br><br>
Last Name:<input type="text"  formControlName="sname">
{{sname}}

<br>
<br>
<select name="hobby" formControlName="hobby">
  <option value="Swimming">Swimming</option>
  <option value="gg">gg</option>
  <option value="Swigggmming">Swiggmming</option>
  <option value="ggg">ggg</option>
</select>   
<br><br>

<button type="submit" [disabled]="!rHobbyFrom.valid">Add Hobby</button>
  <form>

